a{
	text-decoration: none;
	color:white;
}
body{
	margin:0px;
	padding: 0px;
}
#homecon,#skillcon,#expcon,#contactcon{
	position:relative;
} 
@media only screen and (min-width: 850px){
	/*PC home*/
	#navul{
		position: fixed;
		color: white;
		margin-top:-60px;
		top:50%;
		right: 5%;
	}
	#navul li{
		list-style-type: none;
		border:2px solid white;
		width:30px;
		height: 30px;
		line-height: 30px;
		margin: 5px;
		text-align: center;
		font-family: helvetica , sans-serif , Arial;
	}
	#nav4{
		border-radius: 15px;
	}
	/*pc timeline*/
	#timeline{
		position:absolute;
		left:45%;
		margin-left: -400px;
		top:15%;
	}
	#exptext{
	font-family: helvetica , sans-serif , Arial , SimHei;
	width:50%;
	margin-top:100px;
	background-color: grey;
	position:absolute;
	top:15%;
	left:20%;
	font-size: 1.3em
}
}
@media only screen and (max-width: 850px){
	/*mobile home*/
	#navul{
		position: fixed;
		color: white;
		bottom:5%;
		right: 5%;
		width:400px;
	}
	#navul li{
		list-style-type: none;
		border:2px solid white;
		width:50px;
		height: 50px;
		line-height: 50px;
		margin: 10px;
		text-align: center;
		font-family: helvetica , sans-serif , Arial;
		float: left;
	}
	#nav4{
		border-radius: 25px;
	}
	/*mobile timeline*/
	#timeline{
		position:absolute;
		left:15%;
		top:50%;
		margin-top:-400px;
		margin-left: -50px;
	}
	#exptext{
	font-family:helvetica ,SimHei,  sans-serif , Arial ;
	width:70%;
	background-color: grey;
	position:absolute;
	top:30%;
	left:20%;
	font-size: 2em;
}
}
@media only screen and (min-width: 1000px){
	/*pc skill*/
	#skilltree{		
		position:absolute;
		top:50%;
		left:35%;
		margin-top:-300px;
		margin-left:-350px; 
	}
	#skillcircle{
		position:absolute;
		width:250px;
		height:250px;
		background-color: #aaa;
		border-radius: 125px;
		top:50%;
		left:45%;
		margin-top: -330px;
		margin-left:275px;
		opacity: 0;
	}
	#tableA{
		position:absolute;
		width:250px;
		height:180px;
		top:50%;
		left:45%;
		margin-top: -70px;
		margin-left:300px;
	}
	#tableB{
		position:absolute;
		width:250px;
		height:180px;
		top:50%;
		left:45%;
		margin-top: 120px;
		margin-left:300px;
	}
}
@media only screen and (max-width: 1000px){
	/*mobile skill*/
	#skilltree{		
		position:absolute;
		top:60%;
		left:50%;
		margin-top:-300px;
		margin-left:-350px; 
	}
	#skillcircle{
		position:absolute;
		width:250px;
		height:250px;
		background-color: #aaa;
		border-radius: 125px;
		top:20%;
		right:30%;
		margin-top: -125px;
		margin-right:-125px;
		opacity:0;
	}
	#tableA{
		position:absolute;
		width:250px;
		height:180px;
		top:4%;
		left:10%;
		
	}
	#tableB{
		position:absolute;
		width:250px;
		height:180px;
		top:4%;
		left:10%;
		margin-top: 200px;

	}
}
.navNow{
	border:3px solid #82dffb !important;
	font-weight: bold;
	color:#82dffb;
}
#navul li:hover{
	border:3px solid white;
	font-weight: bold;
}
#homedkz{
	width:700px;
	height:600px;
	margin:-350px -300px;
	top:57%;
	left: 43%;
	position:absolute;
}
#dkzlogo{
	margin:0px 10px 0px 10px;
}
#homedkz h1{
	font-family: helvetica , sans-serif , Arial;
	margin:2px auto 2px auto;
	color:white;
	font-weight: lighter;
	text-align: center;
	font-size: 75px;

}
#skillcircle h2{
	margin:25px;
	font-family: helvetica , sans-serif , Arial;
	color:white;
	background-color: #222;
	border-radius: 75px;
	width:150px;
	height:150px;
	text-align: center;
	line-height: 150px;
	font-weight: lighter;
	font-size: 40px;
}
td{
	font-family: helvetica , sans-serif , Arial;
	color:#aaaaaa;
	font-weight: lighter;
	width:100px;
	margin:0px;
	padding:0px;
}
td:hover{
	color:#82dffb;
}
#exptext h2{
	font-family: helvetica,SimHei;
	font-size: 2.2em;
	margin:0;
	padding:10px 30px 10px 30px;
	color:white;
	background-color: black;
	
	position:absolute;
}
#exptext p{
	font-size: 1.1em;
	font-family: helvetica,SimHei;
	position:absolute;
	color:black;
	background-color: white;
	right:0px;
	top:1.6em;
}
#exptext h3{
	font-family: helvetica,SimHei;
	margin:0;
	padding:3px 10px 3px 10px;
	font-size: 1.5em;
	position:absolute;
	color:white;
	background-color: black;
	right:0px;
	top:3em;
	text-align: right;
}
#exptext ul{
	position:absolute;
	font-family: helvetica,SimHei;
	color:white;
	top:7em;
}
#exptext li{
	font-size: 0.8em;
	list-style-type: none;
	padding:2px;
	margin:10px;
	font-style: italic;
}
#expcon{
	/*background-image: url(img/CUBEx3.jpg);*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#contactpanel{
	position:absolute;
	width:60%;
	height:70%;
	left:15%;
	top:15%;
	font-family: helvetica,SimHei;
	color:white;
}
@media only screen and (max-width: 850px){
	/*mobile contact*/
	#contactpanel{
		left:20%;
		font-size: 1.5em;
	}
}
#contactpanel a{
	font-style: italic;
	font-size: 2em;
	position:absolute;
	bottom:5%;
	right:3%;
	padding:10px;
}
#contact{
	position:absolute;
	margin-top:190px;
	top:10%;
	width:100%;
	text-align: center;
}
#contact h2{
	font-size: 2em;
	margin:5px;
}
#headcube{
	position:absolute;
	top:10%;
	left:50%;
	margin-left: -75px;
}
#headcube img{
	position:absolute;
}
#paneT{
	background-color: #3ab20b;
	position: absolute;
	top:120px;
	left:77px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
	transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);;
	
}
.cube{
	position:absolute;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	width: 60px;
	height:60px;
}
.face {
	position: absolute;
	width:100%; 
	height:100%;
}

.cubeS {
	float: left;
	position: relative;
	width: 30px; 
	height: 30px;
	margin: 15px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}
.FS3{
	-webkit-transform-origin:bottom;
	-webkit-transform:rotateX(-90deg);
	transform-origin:bottom;
	transform:rotateX(-90deg);	
	height:90px;
	top:-60px;
	background-position: 150px 0px;
}
.BS3{
	-webkit-transform-origin:top;
	-webkit-transform:rotateX(90deg);
	transform-origin:top;
	transform:rotateX(90deg);
	height:90px;	
	background-position: 120px 0px;
}
.RS3{
	-webkit-transform-origin:right;
	-webkit-transform:rotateY(90deg);
	transform-origin:right;
	transform:rotateY(90deg);	
	left:-60px;
	width: 90px;
	background-position: 90px 60px;
}
.LS3{
	-webkit-transform-origin:left;
	-webkit-transform:rotateY(-90deg);
	transform-origin:left;
	transform:rotateY(-90deg);
	width: 90px;
	background-position: 90px 90px;
}
.TS3{
	-webkit-transform:translateZ(90px);
	transform:translateZ(90px);
	background-position: 180px 0px;
}
.V5{
	background-image: url(img/V5.jpg);
}
