a{
	text-decoration: none;
	color:white;
}
#navul{
	position: fixed;
	color: white;
	top:45%;
	right: 5%;
}
#navul li{
	list-style-type: none;
	border:2px solid white;
	width:30px;
	height: 30px;
	line-height: 30px;
	margin: 5px;
	text-align: center;
	font-family: helvetica , sans-serif , Arial;
}
#navul li:hover{
	border:3px solid white;
	font-weight: bold;
}
#nav4{
	border-radius: 15px;
}